* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.side-navbar {
  width: 250px;
  height: 100%;
  position: fixed;
  margin-left: -300px;
  background-color: black;
  transition: 0.5s;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: black;
}

.my-container {
  transition: 0.4s;
}

.active-nav {
  margin-left: 0;
}

/* for main section */
.active-cont {
  margin-left: 250px;
}

#menu-btn {
  background-color: white;
  color: black;
  margin-left: -40px;
}

.my-container input {
  border-radius: 2rem;
  padding: 2px 20px;
}

.col-4 {
    position: relative;
    display: inline-block;
    width: 33.33%;
}

a {
    display: block;
    position: relative;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
}

.logo {
    width: 100%;
    height: auto;
    display: block;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    z-index: 10;
}

.logoimg {
    width: 350px;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}
.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.photo-container {
    width: 48%;
}
img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
}
p {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
    color: rgb(162, 227, 64);
}