.navbar{
    z-index: 2;
    font-size: 25px;
    font-family: "basic-sans", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.nav-link {
    position: relative;
    text-decoration: none;
    overflow: hidden;
  }
  
  .nav-link::before {
    content: '';
    position: absolute;
    left: 0;
    right: 100%;
    bottom: 0;
    height: 2px; /* Adjust thickness as needed */
    background-color: transparent;
    transition: right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94); /* Adjust timing function as desired */
  }
  
  .nav-link:hover::before {
    right: 0;
    background-color: white; /* Adjust color as needed */
  }
  
  .navbar {
    background: none;
  }
  
  .navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .nav-item {
    margin: 0 10px; /* Adjust spacing between items */
  }
  
  .navbar-toggler-icon {
    border-radius: 5px;
  }

  body {
    background-color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
.col-4 {
    position: relative;
    display: inline-block;
    width: 33.33%;
}

a {
    display: block;
    position: relative;
    text-decoration: none;
}

.logo {
    width: 100%;
    height: auto;
    display: block;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    z-index: 10;
}

.logoimg {
    width: 350px;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}
.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.photo-container {
    width: 48%;
    text-align: center;
}
img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
}
p {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}