.col-4 {
    position: relative;
    display: inline-block;
    width: 33.33%;
}

a {
    display: block;
    position: relative;
    text-decoration: none;
}

.logo {
    width: 100%;
    height: auto;
    display: block;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    z-index: 10;
}

.logoimg {
    width: 350px;
}


  /* gallery */
main{
    /* 	width: 40rem; */
      width: 100%;
      max-width: 100%;
      margin: 0 auto;
    }
    
    section {
      width: 40rem;
      max-width: 100%;
      margin: 0 auto;
      display: grid;
      gap: var(--size-4);
    }
    
    section p {
      padding: 0 var(--size-6);
    }
    
    main {
      background: var(--surface-2);
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: var(--size-4);
      margin-bottom: var(--size-10);
      max-width: 100vw;
      padding: var(--size-4) 0;
    /* 	overflow: hidden; */
    }
    
    .photo-block {
      margin-top: 40px;
      margin-bottom: 40px;
      position: sticky;
      top: calc(50% - 30vh);
      height: 60vh;
      width: 100;
      display: grid;
      overflow: hidden;
      background: var(--gray-6);
      border: 7px solid white;
    }
    
    .photo-grid {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(38deg);
      display: grid;
      grid-template-columns: repeat(7, 1fr);
    }
    
    .photo {
      aspect-ratio: 3 / 4;
      width: 20vmax;
    }
    
    .collage {
      height: 200vh;
      view-timeline: --collage;
    }
    
    .photo img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    .photo:nth-of-type(7n + 1):nth-of-type(even),
    .photo:nth-of-type(7n + 3):nth-of-type(even),
    .photo:nth-of-type(7n + 5):nth-of-type(even),
    .photo:nth-of-type(7n + 7):nth-of-type(even) {
      --vertical: -100%;
      --horizontal: 100%;
    }
    .photo:nth-of-type(7n + 1):nth-of-type(odd),
    .photo:nth-of-type(7n + 3):nth-of-type(odd),
    .photo:nth-of-type(7n + 5):nth-of-type(odd),
    .photo:nth-of-type(7n + 7):nth-of-type(odd) {
      --vertical: -100%;
      --horizontal: -100%;
    }
    
    .photo:nth-of-type(7n + 2):nth-of-type(even),
    .photo:nth-of-type(7n + 4):nth-of-type(even),
    .photo:nth-of-type(7n + 6):nth-of-type(even) {
      --vertical: 100%;
      --horizontal: -100%;
    }
    
    .photo:nth-of-type(7n + 2):nth-of-type(odd),
    .photo:nth-of-type(7n + 4):nth-of-type(odd),
    .photo:nth-of-type(7n + 6):nth-of-type(odd) {
      --vertical: 100%;
      --horizontal: 100%;
    }
    
    .photo {
      animation-name: travel;
      animation-fill-mode: both;
      animation-timing-function: linear;
      animation-timeline: --collage;
      animation-range: entry 100% exit 0%;
    }
    
    @keyframes travel {
      0% {
        translate: 0 0;
      }
      50% {
        translate: 0 var(--vertical);
      }
      100% {
        translate: var(--horizontal) var(--vertical);
      }
    }
  
  .containercaro{
    margin-bottom: 100px;
  }
  /* gallery pics */

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url('imgs/');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .side-navbar {
    width: 250px;
    height: 100%;
    position: fixed;
    margin-left: -300px;
    background-color: black;
    transition: 0.5s;
  }
  
  .nav-link:active,
  .nav-link:focus,
  .nav-link:hover {
    background-color: black;
  }
  
  .my-container {
    transition: 0.4s;
  }
  
  .active-nav {
    margin-left: 0;
  }
  
  /* for main section */
  .active-cont {
    margin-left: 250px;
  }
  
  #menu-btn {
    background-color: white;
    color: black;
    margin-left: -40px;
  }
  
  .my-container input {
    border-radius: 2rem;
    padding: 2px 20px;
  }